---
import { Input } from "@/components/ui/input"
import { Label } from "@/components/ui/label"

interface Props {
	id: string;
  htmlFor: string;
	label: string;
	placeholder: string;
}

const { id, htmlFor, label, placeholder } = Astro.props;
---

<div class="space-y-2">
  <div class="flex items-center gap-x-1">
    <slot/>
    <Label htmlFor={htmlFor}>{label}</Label>
  </div>
  <Input 
    id={id} 
    placeholder={placeholder} 
    className="focus:border-transparent transition-shadow duration-300 ease-in-out w-full" 
  />
</div>