---
import Base from '../layouts/Base.astro';
import H1 from '../components/astro-component/H1.astro';
import Main from '../components/astro-component/Main.astro';
import { Button } from "@/components/ui/button"
import '@/styles/globals.css'
---

<Base title="OPPA">
	<Main>
		<div 
		class = "flex flex-row columns-2 items-center gap-x-8 gap-y-16 max-md:flex-col">
			<div class = "flex flex-col">
				<H1 text = "Valuate."/>
				<H1 text = "Match."/>
				<H1 text = "Drive."/>
				<p class = "text-2xl max-lg:text-xl text-gray-600 font-medium mb-6">
					Find Your Car's Value & Discover the Perfect Match for Your Lifestyle!
				</p>
				<a href="/login" class="w-full">
					<Button variant="default" 
					className="py-10 text-3xl max-lg:text-2xl text-gray-50 bg-blue-600 hover:bg-blue-700 font-bold w-full" >
						GET STARTED
					</Button>
				</a>
			</div>
			<img src = "images/landing-car.png" alt = "OPPA Icon" 
			class = "aspect-thumbnail object-contain h-auto w-2/3 max-md:w-full"/>
		</div>

	</Main>
</Base>
